/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Poppins, sans-serif;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Asegurar que los elementos de formulario hereden el font-family */
input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*---------------------------------------------------------------------------*/
/*Navbar*/
.navbar-brand {
    color: #FAAE25;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    background-color: black;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 0px;
}

.nav-link {
    color: white !important; 
    font-size: 1.25rem; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.nav-link:hover {
    color: black !important;
    background-color: #FAAE25;
}



/*---------------------------------------------------------------------------*/
/*Main*/




/*---------------------------------------------------------------------------*/
/*Footer*/

.last {
    background-color: #1C3846;
    color: #1C3846;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 30px;
}
.last a:hover {
    text-decoration: underline;
}